{% extends "admin/layout.html" %}

{% block title %}Edit Post{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('assets/img/{{ post.image }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.teaser }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ post.author }}</a>
                        on {{ post.createdAt | date("MMMM DD, YYYY") }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
{% set id = post.slug or post.id %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        {# <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">{{ post.content | safe }}</div>
        </div> #}
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <form action="{{ 'admin/post/' ~ id }}" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="slug">Slug</label>
                        <input type="text" class="form-control" id="slug" name="slug" value="{{ post.slug }}">
                    </div>
                    <div class="form-group">
                        <label for="teaser">Teaser</label>
                        <input type="text" class="form-control" id="teaser" name="teaser" value="{{ post.teaser }}"
                            required>
                    </div>
                    {# <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="5"
                            required>{{ post.content }}</textarea>
                    </div> #}
                    <div class="form-group">
                        <label for="editor">Content</label>
                        <text id="editor" class="form-control"></text>
                        <textarea type="hidden" class="form-control" id="content" name="content" rows="5" required
                            style="display: none;">{{ post.content }}</textarea>
                    </div>
                    {# place button to right and make gap from top #}
                    <div class="text-end mt-3">
                        <button type="submit" class="btn btn-primary">Update Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    const quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline'],
                ['link', 'image'],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            ]
        }
    });

    const label = document.querySelector('label[for="editor"]');
    label.addEventListener('click', function () {
        quill.focus();
    });

    const output = document.getElementById('content');
    // Initialize the editor with existing content
    if (output.value) {
        quill.root.innerHTML = output.value;
    }

    // Update the hidden textarea
    const form = document.getElementById('postForm');
    form.addEventListener('submit', function (event) {
        output.value = quill.root.innerHTML;
    });
    // quill.on('text-change', function () {
    //     output.value = quill.root.innerHTML;
    // });


</script>

{% endblock %}